.upgradebutton {
    border-radius: 50px;
    background-color: lightcoral;
    border-color: white;
    padding: 5px;
    margin-top: 10px;
}

.clickBtn {
    border-radius: 90px;
    padding: 10px;
    background-color: lightcoral;
    border-color: black;
}

.content {
    color: white;
}

.upgrades {
    padding: 10px;
    border: 2px solid white;
    background-color: black;
}

#score {
    padding: 10px;
    border: 2px solid black;
    width: 90px;
    margin: 10px auto;
    border-radius: 200px;
    background-color: white;
    color: black;
}